/* ----------------------------------------------------------------------------------------------------

                    HEADER PAGE - CUBICOM V.1.0.0

---------------------------------------------------------------------------------------------------- */
.ft_nav {
  display: flex;
  border-bottom: 2px solid #ff9f47;
  padding: 20px 40px;
  .ft_nav_logo {
    a {
      img {
        width: 100%;
      }
    }
  }
  .ft_nav_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .ft_nav_items {
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        li {
          margin-left: 40px;

          a {
            font-size: 16px;
            color: white;
            font-family: "Poppins", sans-serif;
            width: 100%;
            text-decoration: none;
          }
        }
        .menu {
          display: none;
          .menu_toggle {
            display: none;
          }
        }
      }
    }
    .ft_nav_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .ft_nav_search {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        margin-right: 20px;
        form {
          display: flex;
          align-items: center;
          .ft_nav_search_input {
            font-size: 18px;
            color: white;
            height: 35px;
            width: 200px;
            border: none;
            border-radius: 50px;
            background: #282828;
            padding: 0 10px;
            &:focus-visible {
              outline: none;
            }
          }
          .ft_nav_search_submit {
            position: absolute;
            right: 15px;
            color: white;
            background: none;
            border: none;
            z-index: 2;
            padding: 0;
            width: 20px;
            height: 20px;
            &:hover {
              cursor: pointer;
            }
          }
          i {
            position: absolute;
            right: 15px;
            color: white;
          }
        }
      }
      .ft_nav_account {
        justify-content: flex-end;
        display: flex;
        align-items: center;
        gap: 40px;
        i {
          position: relative;
          font-size: 25px;
          color: white;
        }
        .ft_nav_account_notification {
          position: relative;
          &::after {
            content: "1";
            font-family: "Poppins", sans-serif;
            width: 20px;
            height: 20px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 14px;
            background-color: #fc4343;
            position: absolute;
            right: -6px;
            bottom: -6px;
            border-radius: 50px;
          }
        }
        a {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .ft_nav_mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .ft_nav {
    display: flex;
    border-bottom: 2px solid #ff9f47;
    padding: 20px 40px;
    .ft_nav_logo {
    }
    .ft_nav_container {
      .ft_nav_items {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          list-style: none;
          li {
            display: none;
            margin-left: 40px;

            a {
              font-size: 14px;
              color: white;
              font-family: "Poppins", sans-serif;
              width: 100%;
              text-decoration: none;
            }
          }
          .menu {
            display: flex;
            position: relative;
            .menu_toggle {
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 30px;
              left: 0;
              padding: 20px;
              background-color: rgba(black, 0.6);
              border-radius: 8px;
              li {
                display: block;
                margin-left: 0px;
                padding-top: 20px;
                &:first-child {
                  padding-top: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .ft_nav_account {
    .ft_nav_connexion {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .ft_nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .ft_nav_logo {
      a {
        img {
          width: 50%;
        }
      }
    }
    .ft_nav_mobile {
      display: block;
      .ft_nav_mobile_menu {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-self: center;
        #first {
          width: 70%;
          height: 2px;
          background-color: white;
          align-self: center;
          transition-duration: 0.5s;
          margin-top: 12px;
        }
        #second {
          width: 70%;
          height: 2px;
          background-color: white;
          margin: 5px 0;
          align-self: center;
          transition-duration: 0.5s;
        }
        #third {
          width: 70%;
          height: 2px;
          background-color: white;
          align-self: center;
          transition-duration: 0.5s;
        }
      }
      .menu_toggle {
        display: none;
      }
    }
    .ft_nav_container {
      display: none;
    }
  }
}
