/* ----------------------------------------------------------------------------------------------------

                    REGISTER PAGE - CUBICOM V.1.0.0

---------------------------------------------------------------------------------------------------- */
.ft_register_content {
  .ft_register_title {
    text-align: center;
    color: $orange;
  }
  .ft_register_form {
    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      margin: 0 auto;
      gap: 20px;
      flex-wrap: wrap;
      @media (max-width:768px) {
        width: 80%;
      }
      input[id="Nom"],
      input[id="Prenom"] {
        width: calc(50% - 50px);
        @media (max-width:768px) {
          width: 100%;
        }
      }
      input {
        font-size: 20px;
        padding: 20px;
        border: none;
        border-radius: 10px;
        background-color: #282828;
        color: $white;
        width: 100%;
        &:focus-visible {
          outline: none;
        }
      }
    }
    input[type="submit"]{
      background-color: $orange;
      width: 250px;
      margin: 0 auto;
      @media (max-width:768px) {
        width: 70%;
      }
    }

    .ft_register_form_checkbox {
      width: 100%;
      .ft_register_form_checkbox_single {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        label {
          color: rgb(117, 117, 117);
          font-size: 20px;
          margin-left: 20px;
          font-family: "Poppins", sans-serif;
          -webkit-user-select: none; /* Safari */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
        }
        input[type="checkbox"] {
          position: relative;
          width: 1em;
          padding: 15px !important;
          height: 1em;
          color: $black;
          border: 1px solid $orange;
          border-radius: 4px;
          appearance: none;
          outline: 0;
          cursor: pointer;
          transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
          &::before {
            position: absolute;
            content: "";
            display: block;
            top: 40%;
            left: 50%;
            width: 8px;
            height: 14px;
            border-style: solid;
            border-color: $white;
            border-width: 0 2px 2px 0;
            transform: translate(-50%, -50%) rotate(45deg);
            opacity: 0;
          }
          &:checked {
            color: $white;
            border-color: $orange;
            background: $orange;
            &::before {
              opacity: 1;
            }
            ~ label::before {
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
          }
        }
      }
    }
  }
}
