/*
 *          Fit Split V1.0.0 By Cubicom
 */
/* Elements */
/* Template */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ----------------------------------------------------------------------------------------------------

                    HOME PAGE - CUBICOM V.1.0.0

---------------------------------------------------------------------------------------------------- */
body {
  background-color: #141414;
  margin: 0; }

h1 {
  font-size: 36px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: dashed; }

/* ----------------------------------------------------------------------------------------------------

                    HEADER PAGE - CUBICOM V.1.0.0

---------------------------------------------------------------------------------------------------- */
.ft_nav {
  display: flex;
  border-bottom: 2px solid #ff9f47;
  padding: 20px 40px; }
  .ft_nav .ft_nav_items {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .ft_nav .ft_nav_items ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none; }
      .ft_nav .ft_nav_items ul li {
        margin-left: 40px; }
        .ft_nav .ft_nav_items ul li a {
          font-size: 18px;
          color: white;
          font-family: "Poppins", sans-serif;
          width: 100%;
          text-decoration: none; }
      .ft_nav .ft_nav_items ul .menu {
        display: none; }
        .ft_nav .ft_nav_items ul .menu .menu_toggle {
          display: none; }
  .ft_nav .ft_nav_search {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative; }
    .ft_nav .ft_nav_search form {
      display: flex;
      align-items: center; }
      .ft_nav .ft_nav_search form input {
        font-size: 18px;
        color: white;
        height: 35px;
        width: 300px;
        border: none;
        border-radius: 50px;
        background: #282828;
        padding: 0 10px; }
        .ft_nav .ft_nav_search form input:focus-visible {
          outline: none; }
      .ft_nav .ft_nav_search form i {
        position: absolute;
        right: 15px;
        color: white; }
  .ft_nav .ft_nav_account {
    width: 30%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 40px; }
    .ft_nav .ft_nav_account i {
      position: relative;
      font-size: 30px;
      color: white; }
    .ft_nav .ft_nav_account .ft_nav_account_notification {
      position: relative; }
      .ft_nav .ft_nav_account .ft_nav_account_notification::after {
        content: "1";
        font-family: "Poppins", sans-serif;
        width: 20px;
        height: 20px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        background-color: #fc4343;
        position: absolute;
        right: -6px;
        bottom: -6px;
        border-radius: 50px; }
    .ft_nav .ft_nav_account span {
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      color: white; }

@media (max-width: 1024px) {
  .ft_nav {
    display: flex;
    border-bottom: 2px solid #ff9f47;
    padding: 20px 40px; }
    .ft_nav .ft_nav_items {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .ft_nav .ft_nav_items ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none; }
        .ft_nav .ft_nav_items ul li {
          display: none;
          margin-left: 40px; }
          .ft_nav .ft_nav_items ul li a {
            font-size: 18px;
            color: white;
            font-family: "Poppins", sans-serif;
            width: 100%;
            text-decoration: none; }
        .ft_nav .ft_nav_items ul .menu {
          display: flex; }
          .ft_nav .ft_nav_items ul .menu .menu_toggle {
            display: flex; }
            .ft_nav .ft_nav_items ul .menu .menu_toggle li {
              display: block; } }
/* Responsive */

/*# sourceMappingURL=style.css.map */
